html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, input,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (min-width: 480px) {
  .s1-dis-flex-row {
    display: flex;
    flex-direction: row;
  }

  .s1-dis-flex-col {
    display: flex;
    flex-direction: column;
  }

  .s1-wid-max-con {
    width: max-content;
  }

  .s1-wid-40 {
    width: 40%;
  }

  .s1-wid-50 {
    width: 50%;
  }

  .s1-wid-60 {
    width: 60%;
  }

  .s1-mar-right-auto {
    margin-right: auto;
  }

  s1-mar-left-auto {
    margin-left: auto;
  }

  .s1-mar-auto {
    margin: 0 auto;
  }

  .s1-text-center {
    text-align: center;
  }

  .s1-form-2-col {
    display: flex;
    flex-direction: column;
  }
  .s1-form-2-col div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
  .s1-form-2-col div div {
    margin: 0.5rem 0;
  }
  .s1-form-2-col div div:first-child {
    width: max-content;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  .s1-form-2-col div div:nth-child(2) {
    width: 65%;
  }
  .s1-form-2-col div div:nth-child(2) input {
    border: 1px solid black;
    width: 100%;
  }
  .s1-form-2-col div div.checkbox {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .s1-form-2-col div input {
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
  }
}
@media (min-width: 540px) {
  .s2-dis-flex-row {
    display: flex;
    flex-direction: row;
  }

  .s2-dis-flex-col {
    display: flex;
    flex-direction: column;
  }

  .s2-wid-max-con {
    width: max-content;
  }

  .s2-wid-40 {
    width: 40%;
  }

  .s2-wid-50 {
    width: 50%;
  }

  .s2-wid-60 {
    width: 60%;
  }

  .s2-mar-right-auto {
    margin-right: auto;
  }

  s2-mar-left-auto {
    margin-left: auto;
  }

  .s2-mar-auto {
    margin: 0 auto;
  }

  .s2-text-center {
    text-align: center;
  }

  .s2-form-2-col {
    display: flex;
    flex-direction: column;
  }
  .s2-form-2-col div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
  .s2-form-2-col div div {
    margin: 0.5rem 0;
  }
  .s2-form-2-col div div:first-child {
    width: max-content;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  .s2-form-2-col div div:nth-child(2) {
    width: 65%;
  }
  .s2-form-2-col div div:nth-child(2) input {
    border: 1px solid black;
    width: 100%;
  }
  .s2-form-2-col div div.checkbox {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .s2-form-2-col div input {
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
  }
}
@media (min-width: 720px) {
  .m1-dis-flex-row {
    display: flex;
    flex-direction: row;
  }

  .m1-dis-flex-col {
    display: flex;
    flex-direction: column;
  }

  .m1-wid-max-con {
    width: max-content;
  }

  .m1-wid-40 {
    width: 40%;
  }

  .m1-wid-50 {
    width: 50%;
  }

  .m1-wid-60 {
    width: 60%;
  }

  .m1-mar-right-auto {
    margin-right: auto;
  }

  m1-mar-left-auto {
    margin-left: auto;
  }

  .m1-mar-auto {
    margin: 0 auto;
  }

  .m1-text-center {
    text-align: center;
  }

  .m1-form-2-col {
    display: flex;
    flex-direction: column;
  }
  .m1-form-2-col div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
  .m1-form-2-col div div {
    margin: 0.5rem 0;
  }
  .m1-form-2-col div div:first-child {
    width: max-content;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  .m1-form-2-col div div:nth-child(2) {
    width: 65%;
  }
  .m1-form-2-col div div:nth-child(2) input {
    border: 1px solid black;
    width: 100%;
  }
  .m1-form-2-col div div.checkbox {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .m1-form-2-col div input {
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
  }
}
@media (min-width: 960px) {
  .m2-dis-flex-row {
    display: flex;
    flex-direction: row;
  }

  .m1-dis-flex-col {
    display: flex;
    flex-direction: column;
  }

  .m2-wid-max-con {
    width: max-content;
  }

  .m2-wid-40 {
    width: 40%;
  }

  .m2-wid-50 {
    width: 50%;
  }

  .m2-wid-60 {
    width: 60%;
  }

  .m2-mar-right-auto {
    margin-right: auto;
  }

  m2-mar-left-auto {
    margin-left: auto;
  }

  .m2-mar-auto {
    margin: 0 auto;
  }

  .m2-text-center {
    text-align: center;
  }

  .m2-form-2-col {
    display: flex;
    flex-direction: column;
  }
  .m2-form-2-col div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
  .m2-form-2-col div div {
    margin: 0.5rem 0;
  }
  .m2-form-2-col div div:first-child {
    width: max-content;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  .m2-form-2-col div div:nth-child(2) {
    width: 65%;
  }
  .m2-form-2-col div div:nth-child(2) input {
    border: 1px solid black;
    width: 100%;
  }
  .m2-form-2-col div div.checkbox {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .m2-form-2-col div input {
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
  }
}
@media (min-width: 1200px) {
  .l1-dis-flex-row {
    display: flex;
    flex-direction: row;
  }

  .l1-dis-flex-col {
    display: flex;
    flex-direction: column;
  }

  .l1-wid-max-con {
    width: max-content;
  }

  .l1-wid-40 {
    width: 40%;
  }

  .l1-wid-50 {
    width: 50%;
  }

  .l1-wid-60 {
    width: 60%;
  }

  .l1-mar-right-auto {
    margin-right: auto;
  }

  l1-mar-left-auto {
    margin-left: auto;
  }

  .l1-mar-auto {
    margin: 0 auto;
  }

  .l1-text-center {
    text-align: center;
  }

  .l1-form-2-col {
    display: flex;
    flex-direction: column;
  }
  .l1-form-2-col div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
  .l1-form-2-col div div {
    margin: 0.5rem 0;
  }
  .l1-form-2-col div div:first-child {
    width: max-content;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  .l1-form-2-col div div:nth-child(2) {
    width: 65%;
  }
  .l1-form-2-col div div:nth-child(2) input {
    border: 1px solid black;
    width: 100%;
  }
  .l1-form-2-col div div.checkbox {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .l1-form-2-col div input {
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
  }
}
@media (min-width: 1400px) {
  .l2-dis-flex-row {
    display: flex;
    flex-direction: row;
  }

  .l1-dis-flex-col {
    display: flex;
    flex-direction: column;
  }

  .l2-wid-max-con {
    width: max-content;
  }

  .l2-wid-40 {
    width: 40%;
  }

  .l2-wid-50 {
    width: 50%;
  }

  .l2-wid-60 {
    width: 60%;
  }

  .l2-mar-right-auto {
    margin-right: auto;
  }

  l2-mar-left-auto {
    margin-left: auto;
  }

  .l2-mar-auto {
    margin: 0 auto;
  }

  .l2-text-center {
    text-align: center;
  }

  .l2-form-2-col {
    display: flex;
    flex-direction: column;
  }
  .l2-form-2-col div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
  .l2-form-2-col div div {
    margin: 0.5rem 0;
  }
  .l2-form-2-col div div:first-child {
    width: max-content;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  .l2-form-2-col div div:nth-child(2) {
    width: 65%;
  }
  .l2-form-2-col div div:nth-child(2) input {
    border: 1px solid black;
    width: 100%;
  }
  .l2-form-2-col div div.checkbox {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .l2-form-2-col div input {
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
  }
}
@media (min-width: 1800px) {
  .x1-dis-flex-row {
    display: flex;
    flex-direction: row;
  }

  .x1-dis-flex-col {
    display: flex;
    flex-direction: column;
  }

  .x1-wid-max-con {
    width: max-content;
  }

  .x1-wid-40 {
    width: 40%;
  }

  .x1-wid-50 {
    width: 50%;
  }

  .x1-wid-60 {
    width: 60%;
  }

  .x1-mar-right-auto {
    margin-right: auto;
  }

  x1-mar-left-auto {
    margin-left: auto;
  }

  .x1-mar-auto {
    margin: 0 auto;
  }

  .x1-text-center {
    text-align: center;
  }

  .x1-form-2-col {
    display: flex;
    flex-direction: column;
  }
  .x1-form-2-col div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
  .x1-form-2-col div div {
    margin: 0.5rem 0;
  }
  .x1-form-2-col div div:first-child {
    width: max-content;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  .x1-form-2-col div div:nth-child(2) {
    width: 65%;
  }
  .x1-form-2-col div div:nth-child(2) input {
    border: 1px solid black;
    width: 100%;
  }
  .x1-form-2-col div div.checkbox {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .x1-form-2-col div input {
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
  }
}
@media (min-width: 2200px) {
  .x2-dis-flex-row {
    display: flex;
    flex-direction: row;
  }

  .x2-dis-flex-col {
    display: flex;
    flex-direction: column;
  }

  .x2-wid-max-con {
    width: max-content;
  }

  .x2-wid-40 {
    width: 40%;
  }

  .x2-wid-50 {
    width: 50%;
  }

  .x2-wid-60 {
    width: 60%;
  }

  .x2-mar-right-auto {
    margin-right: auto;
  }

  .x2-mar-left-auto {
    margin-left: auto;
  }

  .x2-mar-auto {
    margin: 0 auto;
  }

  .x2-text-center {
    text-align: center;
  }

  .x2-form-2-col {
    display: flex;
    flex-direction: column;
  }
  .x2-form-2-col div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
  .x2-form-2-col div div {
    margin: 0.5rem 0;
  }
  .x2-form-2-col div div:first-child {
    width: max-content;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  .x2-form-2-col div div:nth-child(2) {
    width: 65%;
  }
  .x2-form-2-col div div:nth-child(2) input {
    border: 1px solid black;
    width: 100%;
  }
  .x2-form-2-col div div.checkbox {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
  }
  .x2-form-2-col div div.checkbox input {
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
  }
  .x2-form-2-col button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.7rem 1.2rem;
    align-self: center;
    width: 22%;
    cursor: pointer;
  }
}

/*# sourceMappingURL=main.css.map */
